<%- include('partials/header'); -%>

<div class="container">
    <h1 class="mb-5">Products <span style="float: right;"> <%= name %> </span></h1>
    <div class="error other"></div>
</div>

<%- include('partials/footer'); -%>